@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Azeret Mono", monospace;
}
*{
    box-sizing: border-box;
    margin:0 ;
    padding: 0;
}
/* baner section content style starts here */


.banner-container{
    max-width:1440 px ;
    min-height: 652px;
   
    margin-top: 180px;
    background-image: url("../Hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.banner-content h1 p {
    color: rgb(13, 19, 33)
    ;

}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 1000px ;
}
.banner-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
} 
.banner-content h1{
    font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
}
.dassed{
    border: 5px dashed #CDCDCD;
}
.imaged2{
    width: 20%;
    height: auto;
    top: 65.42%;
bottom: -65.42%;
  
   
}
.button-design{
    padding: 21px 24px 21px 24px;
letter-spacing: 1px;
color: white;
border: none;
outline: none;
background-color: rgb(13, 19, 33);
cursor: pointer;
text-decoration: none;
border-radius: 8px;

}
 a{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
text-decoration: none;
 }   
        /* second parts design style starts here */
.why-web-container{
   width: 1140px;
height: 1395px;

margin: 0 auto;
margin-top: 90px;
border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
padding:48px;
background-image: url();
}
.secons-section-content h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-top: 50px;
}
.secons-section-content{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
/* second parts design style ends here */
/* third parts design style starts here */
 .third-part-container{
    width: 850px;
    height: 240px;
  
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    background-color: white;
    
    
         }
.left-side-content{
    width:70% ;
    height:240px ;
   
    display: flex;

}
.right-side-content{
    width: 274.17px;
    height: 240px;
    position: relative;
    left: 0.36%;
    top: 1.74%;
   

}


.left-side-content{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
}
.left-side-content h3{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.left-side-content p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.design{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 18px 10px 18px;

margin-right: auto;
}
.design a {
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: left;
flex-direction: row;
justify-content: center;
align-items: center;
}
.third-part-container{
    width: 850px;
    height: 240px;
  
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    background-color: white;
    
    
         }
.left-side-content{
    width:70% ;
    height:240px ;
   
    display: flex;

}
.right-side-content{
    width: 274.17px;
    height: 240px;
    position: relative;
    left: 0.36%;
    top: 1.74%;
   

}


.left-side-content{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
}
.left-side-content h3{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.left-side-content p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.design{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 18px 10px 18px;

margin-right: auto;
}
.design a {
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: left;
flex-direction: row;
justify-content: center;
align-items: center;
}
.third-part-container{
    width: 850px;
    height: 240px;
  
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    background-color: white;
    
    
         }
.left-side-content{
    width:70% ;
    height:240px ;
   
    display: flex;

}
.right-side-content{
    width: 274.17px;
    height: 240px;
    position: relative;
    left: 0.36%;
    top: 1.74%;
   

}


.left-side-content{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
}
.left-side-content h3{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.left-side-content p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.design{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 18px 10px 18px;

margin-right: auto;
}
.design a {
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: left;
flex-direction: row;
justify-content: center;
align-items: center;
}
.inspiration{
        font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center
    }
.mara{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center; 
}